#nb{
    height: 30px;
    width: 100VW;
    background-color: black;
}


#logo{
    color: orange;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 30PX;
    
    font-size: 40px;
}


#ct{
 height: 600px;
}

.buy{
    color: white;
    margin-top: 5px;
    margin-left: 5VW;
    text-decoration: none;
    
    
}

button{
    background-color: orange;
}

#fb{
    background-color: black;
    color: white;
    text-align: center;
    height: 80px;
}
#cr{
    margin-top: 50px;
}
